@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 767px) {
  details[open] summary::-webkit-details-marker {
    display: none;
  }
  details[open] summary::marker {
    display: none;
  }
  details[open] summary:after {
    content: "\200B";
  }
}
